<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Welcome heading  -->
        <h1>Welcome to Tickets R Us!</h1>

        <!-- Navigation buttons container -->
        <div id="buttons">
            <!-- Register button -->
            <a href="{{ url_for('auth.register') }}" class="button">Register</a>

            <!-- Login button -->
            <a href="{{ url_for('auth.login') }}" class="button">Login</a>
        </div>
    </div>
</body>

</html>