<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title block that child templates can override -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Back button -->
    <a href="{{ url_for('main.home') }}" class="button-back">back</a>
    <!-- Heading block that child templates can override -->
    <h1 align="center">{% block heading %}{% endblock %}</h1>

    <!-- Shows flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
        <button type="button" class="dismiss" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- Main content block that child templates can override -->
    {% block content %}{% endblock %}
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>